<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
      body{
        color:red;
        background-image:url("1.jpg");
      }
    </style>
  </head>
  <body>
    <table bgcolor="lightgreen" border="3" bordercolor="navy" width=400 height=500 cellpadding=8 cellspacing=5>
      <tr>
        <td>NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" width=20 maxlength="60"></td>
      </tr>
      <tr>
        <td>FATHER NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="n1"></td>
      </tr>
      <tr>
        <td>MOTHER NAME NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="n1"></td>
      </tr>
      <tr>
        <td>GENDER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="radio" name="n1">MALE</td>
        <td><input type="radio" name="n1">FEMALE</td>
        <td><input type="radio" name="n1">OTHER</td>
      </tr>
      <tr>
        <td>CASTE</td>
        <td><input type="checkbox" name="c1">OC</td>
        <td><input type="checkbox" name="c1">BC</td>
        <td><input type="checkbox" name="c1">ST</td>
        <td><input type="checkbox" name="c1">SC</td>
        <td><input type="checkbox" name="c1">OTHERS</td>

              </tr>
      <tr>
        <td>MOBILE NUMBER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="n1"></td>
      </tr>
      <tr>
        <td>DATE OF BIRTH</td>
        <td><select  name="d1">
        <option>1
          <option>2
            <option>3
              <option>4
                <option>5
                  <option>6
                    <option>7
                      <option>8
                        <option>9
                          <option>10
                            <option>11
                              <option>12
                                <option>13
                                  <option>14
                                    <option>15
                                      <option>16
                                        <option>17
                                          <option>18
                                            <option>19
                                              <option>20
                                                <option>21
                                                  <option>22
                                                    <option>23
                                                      <option>24
                                                        <option>25
                                                          <option>26
                                                            <option>27
                                                              <option>28
                                                                <option>29
                                                                  <option>30
                                                                    <option>31
        </select>DAY</td>
        <td><select  name="m1">
          <option>JAN
            <option>FEB
              <option>MAR
                <option>APR
                  <option>MAY
                    <option>JUN
                      <option>JUL
                        <option>AUG
                          <option>SEP
                            <option>OCT
                              <option>NOV
                                <option>DEc

        </select>MONTH</td>
        <td><select name="y1">
          <option>2019
            <option>2018
              <option>2017
                <option>2016
                  <option>2015
                    <option>2014
                      <option>2013
                        <option>2012
                          <option>2011
                            <option>2010
                              <option>2009
                                <option>2008
                                  <option>2007
                                    <option>2006
                                      <option>2005
                                        <option>2004
                                          <option>2003
                                            <option>2002
                                              <option>2001
                                                <option>2000
                                                  <option>1999
                                                    <option>1998
                                                      <option>1997
                                                        <option>1996
                                                          <option>1995
                                                            <option>1994
                                                              <option>1993
                                                                <option>1992
                                                                  <option>1991
                                                                    <option>1990
                                                                      <option>19989
                      </select>YEAR</td>
      </tr>

      <tr>
        <td>EMAIL ID  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="n1" value="@gmail.com"></td>
      </tr>
      <tr>
        <td>ADDRESS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><textarea name="a1" rows="5" cols="50"></textarea></td>
      </tr>
      <tr>
        <td>STATE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select  name="l1">
          <option>ANDHRAPRADESH
            <option>TELENGANA
              <option>KARNATAKA
                <option>TAMILNADU
                  <option>PUNE
                    <option>MADYAPRADESH
                      <option>BHIHAR
                        <option>ODISSA
                          <option>KERALA
                            <option>BENGAL
                              <option>PUNJAB
                                <option>DELHI
                              <select></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" name="b1" value="register">
          <input type="reset" name="b2" value="clear">
          <input type="button" name="b3" value="sample">
        </td>
      </tr>
    </table>

  </body>
</html>
