<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <caption align="center">
        <font size=5 color="red">
        EDUCATION&nbsp;&nbsp;DETATILES&nbsp;&nbsp;OF&nbsp;&nbsp;THE&nbsp;&nbsp;USER
          </font>
      </caption>
      <tr>
        <td>SCHOOL</td>
        <td><input type="text" name="s1" >SCHOOL</td>
        <td><input type="text" name="s1" >SCHOOL NAME</td>
        <td><input type="text" name="s1" >YEAR</td>
        <td><input type="text" name="S1" >precentage(%)</td>
      </tr>
      <tr>
        <td>INTERMEDIATE</td>
        <td><input type="text" name="i1">INTER</td>
        <td><input type="text" name="s1" >COLLEGE NAME</td>
        <td><input type="text" name="s1" >YEAR</td>
        <td><input type="percentage" name="i1">percentage(%)</td>
      </tr>
      <tr>
        <td>GRADUATE</td>
        <td><input type="text" name="i1">DEGRE STREAM</td>
        <td><input type="text" name="s1" >COLLEGE NAME</td>
        <td><input type="text" name="s1" >YEAR</td>
        <td><input type="percentage" name="i1">percentage(%)</td>
      </tr>
      <tr>
        <td>POST GRADUATION</td>
        <td><input type="text" name="i1">PG</td>
        <td><input type="text" name="s1" >PG COLLEGE NAME</td>
        <td><input type="text" name="s1" >YEAR</td>
        <td><input type="percentage" name="i1">percentage(%)</td>
      </tr>
      <tr>
        <td>OTHER QUALIFICON</td>
        <td><input type="text" name="i1">NAME</td>
        <td><input type="text" name="s1" >COLLEGE NAME</td>
        <td><input type="text" name="s1" >YEAR</td>
        <td><input type="percentage" name="i1">percentage(%)</td>
      </tr>
      <tr>
        <td>DOCUMENTS</td>
        <td><input type="file" name="r1" ></td>
      </tr>
      <tr>
        <td>ORIGINAL DEGREE</td>
        <td><input type="file" name="r1" ></td>
      </tr>
      <tr>
        <td>RESUME</td>
        <td><input type="file" name="r1" ></td>
      </tr>
      <tr>
        <td>FINGERPRINT<td>
        <td><input type="file" name="r1" VALUE="minimum 200kb size" ></td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="r1" value="submit">
          <input type="submit" name="r1" value="save&continue">
          <input type="reset" name="r1" value="clear">

        </td>
      </tr>
    </table>
  </body>
</html>
