<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <caption align="center">
      <font size=8 color="navy">
        IT&nbsp;&nbsp;SKILLS&nbsp;&nbsp;OF&nbsp;&nbsp;THE&nbsp;&nbsp;USER
        </font>
    </caption>
    <table>
      <tr>
        <td>IT SKILLS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select name="t1">
          <option>------------SELECT---------
            <option>C
            <option>C++
              <option>JAVA
                <option>PYTHON
                  <option>DEVOPS
                    <option>JAVASCRIPT
                      <option>CSS
                        <option>HTML
                          <option>SAP
                        </select>
                        <td><select name="t1">
                          <option>------------SELECT---------
                            <option>C
                            <option>C++
                              <option>JAVA
                                <option>PYTHON
                                  <option>DEVOPS
                                    <option>JAVASCRIPT
                                      <option>CSS
                                        <option>HTML
                                          <option>SAP
                        </select>
                        <td><select  name="t2">
                          <option>------------SELECT---------
                            <option>C
                            <option>C++
                              <option>JAVA
                                <option>PYTHON
                                  <option>DEVOPS
                                    <option>JAVASCRIPT
                                      <option>CSS
                                        <option>HTML
                                          <option>SAP
                        </select>
                        <td><select name="t3">
                        <option>------------SELECT---------
                          <option>C
                          <option>C++
                            <option>JAVA
                              <option>PYTHON
                                <option>DEVOPS
                                  <option>JAVASCRIPT
                                    <option>CSS
                                      <option>HTML
                                        <option>SAP
      </tr>
      <tr>
        <td>COURSE DURATION &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="c1"></td>
      </tr>

      <tr>
        <td>INSTITUTE NAME &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="c1"></td>
      </tr>
      <tr>
        <td>OTHER COURSES &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><input type="text" name="c1"></td>
      </tr>
          <tr>
        <td>LANGUAGES KNOWN &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><select name="l1">
          <option>-----select---------------
            <option>TELUGU
              <option>ENGISH
                <option>HINDI
                  <option>KANNADA
                    <option>TAMIL
                      <option>BENGALI
                        <option>ODIA
                          <option>PUNJABI
                            <option>MARATHI
                              <option>MALAYALAM

        </select>
      </td>
      </tr>
<tr>
  <td>STATE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td><select  name="l1">
    <option>ANDHRAPRADESH
      <option>TELENGANA
        <option>KARNATAKA
          <option>TAMILNADU
            <option>PUNE
              <option>MADYAPRADESH
                <option>BHIHAR
                  <option>ODISSA
                    <option>KERALA
                      <option>BENGAL
                        <option>PUNJAB
                          <option>DELHI
                        <select></td>

</tr>
<tr>
  <td>CITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td><select  name="l1">
    <OPTION>-------SELECT------
    <option>GUNTUR
      <option>VIJAYAWADA
        <option>KURNOOL
          <option>KADAPA
            <option>NADYALA
              <option>ANATAPIR
                <option>TIRUPATHI
                  <option>HYDERABAD
                    <option>AVANIGADDA
                      <option>NELLORE
                        <option>MARKAPUR
                          <option>ONGOLLE
                        <select></td>
</tr>
<tr>
  <td>RESUME</td>
  <td><input type="file" name="r1" ></td>
</tr>
<tr>
  <td>IMAGE<td>
  <td><input type="file" name="r1" ></td>
</tr>
<tr>
  <td>
    <input type="submit" name="r1" value="submit">
    <input type="submit" name="r1" value="save&continue">
    <input type="reset" name="r1" value="clear">

  </td>
</tr>
    </table>
  </body>
</html>
