<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="testapp/appllication.html">
  </head>
  <body>
    <table bgcolor="lightgreen">
      <tr>
        <td>USERNAME</td>
        <td><input type="text" name="n1"></td>
      </tr>
      <tr>
        <td>PASSWORD</td>
        <td><input type="password" name="n1">
      </tr>
      <tr>
        <td></td>
        <td><input type="button" name="n1" value="login">
      </tr>
    </table>
  </body>
</html>
